header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;

    background-color: $color-2;
    color: $color-1;

    // Logo
    .div-logo {

        margin-left: 1em;
        padding: .2rem;

        svg {
            width: auto;
            filter: drop-shadow(0 0px 4px #a0a0a0);
            height: 32px;
            stroke: $color-5;
        }

    }

    // Burger Menu
    .btn {

        position: fixed;
        top: 1.2rem;
        right: 3rem;

        &__burger {
            &,
            &::before,
            &::after {
                content: '';
                position: absolute;

                width: 1.85rem;
                height: 5px;
                border-radius: 3px;
                background: $color-5;
            }

            &::before {
                transform: translate(-15px, -10px);
            }

            &::after {
                transform: translate(-15px, 10px);
            }
        }
    }

    // div Burger Menu
    .div-burger-menu {
        position: fixed;
        top: 2.3rem;
        right: 0rem;

        width: 8rem;
        height: 6rem;

        background-color: $color-2;

        text-align: center;

        animation: height 1s;

        @keyframes height {
            0% {
                height: 0rem;
            }
            100% {
                height: 6rem;
            }
        }

        .nav-burger-menu {
            width: 100%;

            .ul-burger-menu {
                display: flex;
                flex-direction: column;
                padding-left: 0;

                list-style-type: none;

                .li-burger-menu {
                    margin: .25rem auto;

                    user-select: none; /* supported by Chrome and Opera */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none;
                }
            }
        }
    }

    .displayBlock{ 
        display: block;
    }
    .displayNone{ 
        height: 0rem;

        animation: display 1s;

        @keyframes display {
            0% {
                height: 6rem;
            }
            100% {
                height: 0rem;
                display: none;
            }
        }
    } 

    // nav medium size
    .nav-medium-size {

        display: none;
        width: 40%;
        margin-right: 1em;

        .ul-medium-size {
            display: flex;
            justify-content: space-between;
            padding-left: 0;

            list-style-type: none;

            .li-medium-size {

            cursor: pointer;

                &:hover {
                    color: $color-5;
                }

                a {
                    text-decoration: none;
                    color: $color-1;
                }
            }
        }
    }

    @media (min-width: $medium) {

        .btn {
            display: none;
        }

        .nav-medium-size { 
            display: block;   
            width: 14%;
        }

        .div-burger-menu {
            display: none;
        }
    }
} 