.App {
    text-align: center;
    background-color: $color-1;

    h1 {
      margin-top: 1.5em;
      color: $color-4;
    }

    // HEADER
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        width: 100%;

        background-color: $color-2;
        color: $color-1;
  
        .div-logo {

            margin-left: 1em;

            svg {
                width: auto;
                filter: drop-shadow(0 0px 4px #a0a0a0);
                height: 32px;
                stroke: $color-5;
            }
        
        }

        // Burger Menu
        .btn {

            position: fixed;
            top: 1rem;
            right: 3rem;

            &__burger {
                &,
                &::before,
                &::after {
                    content: '';
                    position: absolute;

                    width: 1.85rem;
                    height: 5px;
                    border-radius: 3px;
                    background: $color-5;
                }

                &::before {
                    transform: translate(-15px, -10px);
                }

                &::after {
                    transform: translate(-15px, 10px);
                }
            }
        }

        // div Burger Menu
        .div-burger-menu {
            position: fixed;
            top: 2.3rem;
            right: 0rem;

            width: 8rem;
            height: 6rem;

            background-color: $color-2;

            text-align: center;

            .nav-burger-menu {
                width: 100%;

                .ul-burger-menu {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0;

                    list-style-type: none;

                    .li-burger-menu {
                        margin: .25rem auto;
                    }
                }
            }
        }

        .displayBlock{ 
            display: block;
        }
        .displayNone{ 
            display: none;
        } 
  
        .nav-medium-size {

            display: none;
            width: 40%;
            margin-right: 1em;

            .ul-medium-size {
                display: flex;
                justify-content: space-between;
                padding-left: 0;

                list-style-type: none;

                .li-medium-size {

                cursor: pointer;

                    &:hover {
                        color: $color-5;
                    }

                    a {
                        text-decoration: none;
                        color: $color-1;
                    }
                }
            }
        }
  
        @media (min-width: $medium) {

            .btn {
                display: none;
            }

            .nav-medium-size { 
                display: block;   
                width: 14%;
            }

            .div-burger-menu {
                display: none;
            }
        }
    }

    // MAIN
    .App-main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
    }
}