@import url('https://fonts.googleapis.com/css2?family=Antic&family=Gentium+Book+Plus:wght@400;700&display=swap');

$font-1: 'Gentium Book Plus';

$color-1: #e5e7eb;


body {
  margin: 0;
  font-family: $font-1, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
