@import url('https://fonts.googleapis.com/css2?family=Antic&family=Gentium+Book+Plus:wght@400;700&display=swap');

// media queries
$medium : 550px;

$font-1: 'Gentium Book Plus';

$color-1: #e5e7eb;
$color-2: #220bab;
$color-3: rgba(59,130,246,.5);
$color-4: #4f4f4F;
$color-5: #fff;
$color-6: #7c7d80;
$color-7: #222224;
$color-8: #f8e71c;


body {
  margin: 0;
  font-family: $font-1, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
